Product Query Agent.json
{
  "name": "Product Query Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1nNQvqUAdI9hom7Z0oTUm4Sz1db0jzL0B",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nNQvqUAdI9hom7Z0oTUm4Sz1db0jzL0B"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        192
      ],
      "id": "53e3e6f8-1ea5-42f3-a57d-1034a7364241",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GFVqKMuNxdW7ozVa",
          "name": "mtools"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        192
      ],
      "id": "a65b1f99-0540-4b30-8667-36d4b4ac385f",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GFVqKMuNxdW7ozVa",
          "name": "mtools"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntest2",
          "mode": "list",
          "cachedResultName": "n8ntest2"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        256,
        192
      ],
      "id": "5f27b902-17f8-499f-a283-b015ad823a62",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "OAjJRXihtuX9pfHZ",
          "name": "PineconeApi account textsmall"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        416
      ],
      "id": "0bb0fc0b-df1a-4d3a-8fcd-cac21377472b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "N3a4jYymMhEv7Ldt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        400,
        416
      ],
      "id": "faeadbb8-abd9-4838-8b22-de8d8b23ea0b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        496,
        640
      ],
      "id": "e75eb3ba-1e25-4e10-9017-77439806f02f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You have an access to tool called knowledge base. Your job is to take all the information from it and help the best possible answer. stick to only support@yourcompany.com document for details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        976,
        192
      ],
      "id": "1f772932-9849-41b8-bebf-64d38d693625",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        816,
        192
      ],
      "id": "e84e50b2-e5d1-42db-a763-d50c17ee7f65",
      "name": "When chat message received",
      "webhookId": "a3171267-791f-4b3b-b499-e03979296b9c"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntest2",
          "mode": "list",
          "cachedResultName": "n8ntest2"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1200,
        416
      ],
      "id": "39b16292-2c7c-4ced-9f51-7949c2c21908",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "OAjJRXihtuX9pfHZ",
          "name": "PineconeApi account textsmall"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        640
      ],
      "id": "c7232da8-05ee-4d42-a1c0-49fac1d69cee",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "N3a4jYymMhEv7Ldt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        400
      ],
      "id": "ba9ad21d-70cb-43b3-8d0a-49a273f4f0a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N3a4jYymMhEv7Ldt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "Product Query Agent",
        "height": 80,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        48
      ],
      "id": "648a3860-2a23-4b49-89d6-a082d05486d7",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dae64736-dea2-40e1-aca5-bceb3f640b83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a0e3d7242a4a2a6f090761ab23fcf085363e36825dbf0f9a9c870b9cc034346"
  },
  "id": "ht3FYkbbRATnh6EW",
  "tags": []
}